@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Permanent+Marker");
/*font*/
/* Basis voor elke body */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F0EFE7;
  background-image: url(../images/headervs2.png);
  background-repeat: no-repeat;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* Variabele kleuren */
/* kleur navigatie balk, footer, blokken, titels */
/*- achtergrondkleur knop */
/* kleur lopende tekst */
/* kleur em */
/* Navigatie */
.nav-link {
  color: #ffff;
  position: relative;
  z-index: 1;
  margin-top: 55px;
  padding-right: 5px;
  left: -46px;
  text-align: center;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  border: solid 2px transparent;
}

.nav-link:hover {
  color: #d62d30;
  border: solid 2px #ffff;
  border-radius: 15px;
  background-color: #ffff;
}

.navbar-toggler {
  background-color: #F0EFE7;
  height: 60px;
  margin-right: 60px;
}

.navbar-brand {
  margin-top: 55px;
  font-size: 2.2rem;
  margin-left: 40px;
}

a {
  font-family: 'Permanent Marker', cursive;
  color: white;
  border: solid 2px transparent;
  padding: 20px;
}

a:hover {
  color: #d62d30;
  border: solid 2px #ffff;
  border-radius: 15px;
  background-color: #ffff;
}

/* Tekst */
h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3.6rem;
  color: #A80000;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
}

h4 {
  font-family: 'Permanent Marker', cursive;
  color: white;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.intro h3 {
  text-align: right;
}

.intro p {
  margin-top: 30px;
}

/*Indexpagina */
.achtergrond {
  background-image: url(../images/footerdoorlopend.png);
  background-repeat: no-repeat;
  height: 800px;
  background-position: bottom center;
  width: 100%;
  background-size: cover;
  margin-left: 0.2px;
}

.content-wrapper {
  width: 100%;
}

.imgabove {
  width: 100%;
  position: relative;
  z-index: 2;
  left: 35px;
  margin-top: 200px;
}

.imgabove img {
  width: 60%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-wrapper {
  width: 100%;
  position: relative;
  padding-left: 60px;
  padding-right: 40px;
  color: #ffff;
}

.text-wrapper p {
  padding-top: 20px;
}

.homeimg {
  width: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 80px;
  margin-left: -250px;
}

.hometext {
  margin-top: 200px;
}

/* Afbeeldingen oorzakenpagina */
.achtergrondoorzaak {
  background-image: url(../images/strook.png);
  background-repeat: no-repeat;
  margin-top: -160px;
  z-index: -2;
}

.achtergrondafspraak {
  background-image: url(../images/strook2.png);
  background-repeat: no-repeat;
}

.content-wrapper_oorzaak img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_wrapper img {
  width: 80%;
  position: relative;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 80px;
  margin-top: 240px;
  margin-bottom: 100px;
}

.papiersneeimg {
  width: 80%;
  min-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 80px;
}

.tijdimg {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 150px;
}

ul {
  list-style-type: circle;
  margin-left: 20px;
}

/* Tekst oorzaken pagina */
.jeugdtrauma {
  width: 100%;
  position: relative;
  padding-left: 40px;
  padding-right: 60px;
  margin-top: 260px;
}

.jeugdtrauma p {
  color: #ffff;
  padding-right: 20px;
}

.jeugdtrauma h3 {
  padding-bottom: 20px;
}

.vergetenafsrpaak {
  width: 100%;
  position: relative;
  margin-top: 280px;
  padding-right: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.vergetenafsrpaak p {
  color: #ffff;
  padding-right: 30px;
}

.vergetenafsrpaak h3 {
  padding-bottom: 20px;
}

.tijd {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.tijd h3 {
  color: #A80000;
  padding-bottom: 20px;
}

em {
  color: #ffff;
  font-style: normal;
}

.papiersnee {
  padding-left: 40px;
  padding-right: 40px;
}

.papiersnee h3 {
  color: #A80000;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-right: 60px;
}

/* Afbeeldingen Symptomen pagina */
.vervreemding {
  min-height: 480px;
  width: 320px;
  margin-bottom: 50px;
}

.vervreemdingtxt {
  margin-top: 80px;
  background-color: #ffff;
  border-radius: 15px;
  padding: 40px;
  min-height: 320px;
}

.vervreemdingtxt h3 {
  color: #A80000;
  padding-bottom: 10px;
}

.vergetelheid {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.vergetelheid img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 180px;
}

.vergetelheidtxt {
  margin-top: 220px;
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  min-height: 320px;
}

.vergetelheid h3 {
  color: #A80000;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #A80000;
}

.vergetelheid p {
  padding-left: 20px;
}

.afkeer {
  width: 100%;
  min-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -40px;
}

.afkeertxt {
  background-color: #A80000;
  color: #ffff;
  border-radius: 15px;
  padding: 40px;
  min-height: 320px;
  width: 100%;
}

.afkeer h3 {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
}

.afkeer p {
  text-align: right;
  padding-right: 40px;
  padding-left: 40px;
}

.gestresst {
  min-height: 320px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gestressttxt {
  background-color: #ffff;
  border-radius: 15px;
  padding: 40px;
  min-height: 320px;
}

.gestresst h3 {
  text-align: right;
  padding-bottom: 10px;
  color: #A80000;
}

.gestresst p {
  text-align: right;
  padding-left: 40px;
}

.impulsiviteit {
  width: 100%;
  min-height: 320px;
  background-color: #A80000;
  color: #ffff;
  border-radius: 15px;
  margin-bottom: 50px;
}

.impulsiviteit h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.impulsiviteit p {
  padding-right: 40px;
  padding-left: 40px;
}

/* Lidmaatschap */
.lidtekst {
  margin-top: 40%;
  margin-right: 40px;
}

.ledentitle {
  margin-top: 35%;
}

.geef h3 {
  color: #A80000;
  margin-top: 40px;
  margin-bottom: 60px;
}

.bedrag h4 {
  color: #A80000;
}

.button1 {
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: -20px;
}

.button1 ul {
  list-style-type: none;
}

.button1 li {
  float: left;
  margin-right: 40px;
}

.button1 p {
  font-weight: 600;
  margin-left: -40px;
}

.button1 button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 15px;
  -webkit-box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.button1 button:hover {
  background-color: #A80000;
  border: 1px solid transparent;
}

.buttonbedrag {
  margin-bottom: 60px;
  margin-left: -20px;
}

.buttonbedrag p {
  font-weight: 600;
}

.buttonbedrag ul {
  list-style-type: none;
}

.buttonbedrag button {
  width: 80px;
  height: 40px;
  padding: 5px;
  text-align: center;
  margin-right: 15px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #F0EFE7;
  -webkit-box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.buttonbedrag button:hover {
  background-color: #A80000;
  color: white;
  border: 1px solid transparent;
}

.buttonbedrag li {
  float: left;
}

.buttonof {
  float: left;
}

.buttonof p {
  font-weight: 600;
}

.buttonof button {
  width: 180px;
  height: 40px;
  padding: 5px;
  text-align: center;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #F0EFE7;
  -webkit-box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.buttonof button:hover {
  background-color: #A80000;
  color: white;
  border: 1px solid transparent;
}

.buttonstap2 button {
  width: 300px;
  background-color: #A80000;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  padding: 20px;
  margin-top: 60px;
  color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.24);
}

.buttonstap2 button:hover {
  background-color: #F0EFE7;
  color: black;
}

.sidelid {
  background-color: #A80000;
  border-radius: 15px;
  padding: 40px;
  color: white;
  margin-bottom: 80px;
}

.aantalgiften ul {
  list-style-type: none;
}

.aantalgiften li {
  font-size: 3rem;
  margin-left: -20px;
  margin-top: -10px;
}

.reedsgestort img {
  width: 280px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.reedsgestort em {
  font-size: 1.5rem;
}

.voordelen {
  margin-bottom: 80px;
}

.voordelen ul {
  list-style-type: none;
}

.voordelen li {
  float: left;
  width: 100px;
  height: 60px;
  padding-top: 16px;
  text-align: center;
  margin-right: 30px;
  margin-left: -20px;
  background-color: #F0EFE7;
  border-radius: 15px;
  color: black;
}

/* Contactpagina */
.contacttext {
  margin-top: 200px;
  padding-right: 80px;
  text-align: right;
}

.contacttext h3 {
  color: #A80000;
}

.contacttext p {
  margin-top: 30px;
}

.contactinfo {
  margin-top: 220px;
  padding-top: 30px;
  padding-left: 70px;
  padding-top: 40px;
  background-color: #A80000;
  border-radius: 15px;
  color: white;
  height: 360px;
}

.contactinfo a {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid transparent;
}

.agendatitle h3 {
  color: white;
  margin-top: 250px;
  margin-left: 100px;
  z-index: 2;
}

.contactinfo a:hover {
  background-color: transparent;
  border: 1px solid transparent;
}

date {
  position: relative;
  top: 40px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.text-wrapper-contact {
  margin-bottom: 36%;
  margin-left: 40px;
  margin-right: 40px;
}

.titlebijeenkomsten {
  position: relative;
  bottom: 20px;
}

/* Font */
h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Footer */
footer {
  background-color: #A80000;
  padding: 40px;
  color: #ffff;
  min-height: 100px;
  width: 100%;
}

.artevelde {
  width: auto;
  height: 60px;
  position: absolute;
  bottom: 20px;
  right: 60px;
}
/*# sourceMappingURL=style.css.map */